*.exe
*.out
*.test
*.a

/pkg/*
!/pkg/**/*.go
/bin
/build

**/.dockerignore
**/Dockerfile~
docker-compose.override.yml

*.log
*.log.*
log/
logs/
debug.log
trace.log
*.swp
*.swo
*~

*.dump
*.backup
*.bak
pgdata/
data/
dbdata/
!data/migrations/

*.cover
.coverprofile
coverage.*

.env
.env.local
.env.development
.env.production
